@import './variables.css';
@import './reset.css';
@import './layout.css';
@import './components.css';
@import './animations.css';

body {
  font-family: var(--font-main);
  background: radial-gradient(
    circle at top,
    #121826,
    var(--color-bg)
  );
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: calc(100vh - 160px);
  overflow-x: hidden;
}
